<!DOCTYPE html>
<html>
  <head>
    <title>Wefund</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <ul class="nav navbar-nav navbar-left">
        <%= link_to "Wefund", root_path, id: "logo", style: "padding-left: 40px" %>
      </ul>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, style: "padding-right: 40px" %></li>
        </ul>
      <% end %>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>

